[submodule "jellyfin-server"]
	path = jellyfin-server
	url = https://github.com/icegood/jellyfin
	branch = ice/mymaster
[submodule "jellyfin-web"]
	path = jellyfin-web
	url = https://github.com/icegood/jellyfin-web
    branch = ice/mymaster
[submodule "jellyfin-ffmpeg"]
	path = jellyfin-ffmpeg
	url = https://github.com/icegood/jellyfin-ffmpeg
	branch = ice/mymaster
