[submodule "jellyfin-server"]
	path = jellyfin-server
	url = https://github.com/icegood/jellyfin
	branch = v10.11.0-rc3_ice
[submodule "jellyfin-web"]
	path = jellyfin-web
	url = https://github.com/icegood/jellyfin-web
    branch = v10.11.0-rc3_ice
[submodule "jellyfin-ffmpeg"]
	path = jellyfin-ffmpeg
	url = https://github.com/icegood/jellyfin-ffmpeg
	branch = v10.11.0-rc3_ice
